<link rel="stylesheet" href="/index.css" />
<div class="main__banner">
  <%- include('layouts/navigation') %>
  <div class="main__content center">
    <div class="main__item column center">
      <p class="main__title">Making WOrld a better place</p>
      <h1 class="main__header">Cause Connect</h1>
      <h3 class="main__sub__header">Your Turn To Make A Change</h3>
      <p class="main__para">
        Signup as volunteers, Join a community of individuals that works towards
        the betterment of the society
      </p>
      <button class="main__btn">Find Opportunities</button>
    </div>
  </div>
</div>
<div class="cause__connect row">
  <div class="cause__connect__item center">
    <img class="cause__connect__img" src="/cause__connect.png" alt="" />
  </div>
  <div class="cause__connect__item column center">
    <div class="column">
      <p>Here's How To Use</p>
      <h2>Cause Connect</h2>
    </div>
    <div class="row">
      <div>
        <h2>For NGOs</h2>
        <ul>
          <li>Signup as a Non-Profit Organization</li>
          <li>List your Events or Drives</li>
          <li>Collaborate with individuals who apply to volunteers</li>
        </ul>
        <button>Register As NGO</button>
      </div>
      <div>
        <h2>For Individuals</h2>
        <ul>
          <li>Signup as an Individuals Volunteers</li>
          <li>Find top NGO or Events near you</li>
          <li>Apply to help and be part of greater cause</li>
        </ul>
        <button>Register As Volunteers</button>
      </div>
    </div>
  </div>
</div>
<div class="newsletter__container row">
  <div class="newsletter__content">
    <h1 class="newsletter__heading">
      Want To Be Notified Regarding An Event Near You?
    </h1>
    <p class="newsletter__para">
      Enter your email ID to receive notifications from us and stay up to date.
    </p>
    <p class="or">OR</p>
    <p class="newsletter__account">Create An Account</p>
  </div>
  <div class="newsletter__form">
    <div class="newsletter__form__item row">
      <div class="input__div">
        <input
          class="input newsletter__input"
          type="email"
          placeholder="hello@example.com"
          required
        />
      </div>
      <button class="notifyBtn">Notify Me</button>
    </div>
    <p class="newsletter__form__content">
      We care about those who care about others. Read our <br />
      <span class="privacy__policy">Privacy Policy</span>
    </p>
  </div>
</div>
<%- include('layouts/login') %> <%- include('layouts/signup') %>
<script src="/auth.js" defer></script>
