.main__banner {
    width: 100%;
    height: 95vh;
    background-color: var(--primary-bg-color);
}

.main__content {
    width: 100%;
    height: calc(100vh - 100px);
}

.main__item {
    width: 60%;
}

.main__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.main__header {
    font-size: 5rem;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--primary-color);
}

.main__sub__header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.main__para {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--tertiary-color);
}


.main__btn {
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}


.cause__connect {
    width: 100%;
    height: 50vh;
}

.cause__connect__item {
    width: 50%;
    height: 100%;
}

.cause__connect__img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.newsletter__container {
    padding: 100px 0;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

.newsletter__content {
    width: 60%;
    padding: 0 20px;
}

.newsletter__form {
    width: 40%;
    padding: 0 20px;
}

.newsletter__heading {
    font-size: 3rem;
}

.newsletter__para {
    font-size: 1.5rem;
    margin: 20px 0;
}

.or {
    font-size: 1.5rem;
    margin: 20px 0;
}

.newsletter__account {
    margin: 20px 0;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.newsletter__input {
    border-radius: 10px;
    height: 50px !important;
    font-weight: 700;
    padding: 0 15px !important;
    font-size: 1.2rem !important;
}

.newsletter__form__item {
    margin: 20px 0;
}

.notifyBtn {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 30px;
    background-color: var(--secondary-color);
}

.newsletter__form__content {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--tertiary-color);
}

.privacy__policy {
    font-size: 1.2rem;
    margin-top: 10px;
    display: inline-block;
    color: var(--secondary-color);
}