<nav class="nav__container row">
  <div class="center">
    <a class="causeconnect" href="/">Cause Connect</a>
  </div>
  <div class="nav__link__contents row">
    <ul class="nav__link__ul row">
      <li class="nav__link__li"><a href="/">Home</a></li>
      <li class="nav__link__li"><a href="/ngo">NGOs</a></li>
      <li class="nav__link__li"><a href="/events">Events</a></li>
      <li class="nav__link__li"><a href="/">About</a></li>
      <% if(isAuthorized) { %>
      <li class="nav__link__li"><a href="/profile">Profile</a></li>
      <li class="nav__link__li"><a href="/logout">Logout</a></li>
      <% } else { %>
      <li class="nav__link__li"><a href="#signup" id="signup">Sign Up</a></li>
      <li class="nav__link__li"><a href="#login" id="login">Log In</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<style>
  .nav__container {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .causeconnect {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--secondary-color);
  }
  .nav__link__contents {
    flex: 0.5;
    align-items: center;
    justify-content: space-between;
  }
  .nav__link__ul {
    width: 100%;
    list-style: none;
    justify-content: space-between;
  }
  .nav__link__li a {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>
